*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.clear{
    clear: both; 
    /* cách này để fix khi dùng float bên trong cha làm cha không ôm được th con  */
}

#main{
    font-family:Segoe UI",Arial,sans-serif";

}

#header{
    background-color: #000;
    height: 46px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}


.header__nav {
    display: inline-block;
}

.header__nav li{
    list-style: none;
    display: inline-block;

}

.header__nav >  li  {
    display: inline-block;
    color:#fff;
}
.header__nav  li  a{
    display: block;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 46px;
    padding: 0 23px;
    
}

.header__nav  li:hover .header__subnav{
    display:block;
}

.header__subnav  li:hover a,
.header__nav  > li:hover > a{
    color: #000;
    background-color: #ccc;
}

.header__nav > .header__nav--more {
    position:relative;
}

.header__subnav{
    display: none;
    position: absolute;
    color:#000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0 0 0.3);
}

.header__nav--more a:hover .header__subnav{
    display:block;
}

.header__subnav li{
    display: block; 
}



.header__subnav > li > a {
    color: #000;
}

.header__search__icon{
    float: right;

}

.header__nav--icon--down{
    margin-left: 10px;
    font-size: 15px;
}

.header__search__icon{
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}

.header__search__icon:hover{
    background-color: red;
    cursor: pointer;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background:url('/img/slider/slider1.jpeg')  top center /cover no-repeat;

}


.slider__content{
    position: absolute;
    bottom:47px;
    color:#fff;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
}

.slider__content--heading{
    font-weight: 500;
    font-size: 24px;
    margin: 25px 0 ;
}

#content{

    padding: 64px -2px;
}

.content__heading{
    width: 800px;
    margin-left:auto;
    margin-right: auto;
   
}

.content__heading--title{
    text-align: center;
    margin:10px 0 ;
    letter-spacing:4px;
}

.content__heading--des{
    text-align: center;
    margin:15px 0 45px  0;
    opacity: 0.5;
    font-style: italic;

    
}

.content__para{
    text-align:justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.5;
    
}

.content__info{
    margin-top: 48px;
}

.content__info__member{
    float:left;
    width: 33.333%;

}

.content__info__member{
    text-align: center;
}

.content__info__member img{
    width: 154px;
    border-radius: 4px;
    padding: 32px 0;
}


.content__info--para{
    text-align:center;
    margin-bottom: 30px;
}

#content__tour{
    padding: 64px 16px;
    background-color:black;
    color:#fff;
}

.content__tour--ticket li{
    list-style:none;
    padding: 10px 10px;
    width: 100%;
    background-color: #fff;
    color: rgb(169, 163, 163);
    border-bottom: 1px solid;
}



.content__tour--ticket span{
    margin-left: 20px;
    padding: 3px 10px;
    color:#fff;
    background-color: red;
    opacity:0.7;
}

.number{
    float:right;
    margin-right: 10px;
    margin-bottom: 50px;
    padding: 0 7px;
    background-color: #000;
    border-radius: 50px;
    font-size: 20px;
}

.content__tour--ticket > li > .number{
    color:#fff;
}

.content__tour--buy-ticket{
    margin-top: 25px;
    width:245px;
    display: flex;
    justify-content: space-between;
}

.content__tour--buy-ticket img{
    width:250px;
    
}

.content__tour--buy-ticket img:hover{
    opacity:0.6;

}

.date{
    opacity: 0.5;
}

.country,
.date,
.des {
    color: #000;
    margin:15px 0;
    padding: 0 10px;
}

.des{
    margin-bottom: 25px;
}

.btn-buy{
    text-decoration: none;
    padding: 15px 20px;
    color:#fff;
    background-color:#000;
    margin: 0 10px;
}

.btn-buy:hover{
    background-color:#ccc;
    color:black;
}

.content__tour--info{
    line-height: 21px;
    padding-bottom: 30px;
    background-color:#fff;
    margin-right: 25px;
}


#content__contact{
    padding: 64px 16px;
}

.content__contact--form{
    display: flex;
    justify-content:space-between;
    padding: 32px 0;
}

.content__contact--form p{
    font-size: 20px;
    font-weight: 500;
}

.content__contact--info i {
    margin-right: 10px;
}

.content__contact--contact--form input{
    padding:10px 20px ;
    opacity:0.5
}

.content__contact--contact--form  {
    margin-left:-60px;
}

.content__contact--contact--form a{
    float:right;
    margin-top: 20px;
    padding: 10px 10px;
    background-color:#000;
    text-decoration: none;
    color:#fff;
}

.content__contact--contact--form a:hover{
    background: #ccc;
    color: black;
}

.content__contact--contact--form > p >input{
    width: 100%;
    margin-top: 10px;
}

.img-footer img{
    width: 100%;
    filter: grayscale(50%)
}

#footer{
    padding: 64px 32px;
    text-align: center;
}

#footer i{
    font-size: 25px;
}

#footer >.social_list > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    opacity:0.6;
}

.link{
    margin-top: 20px;
}

.link  p{
    text-decoration: none;
    color: black;
    opacity:0.6;
}

.link a{
    color: #000;
}